__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

.env
.env.*
!.env.example

rag/data/*
!rag/data/README.md
**/model_runs/
*.dump
*.zip
*.7z
*.tar.gz
*.log

.vscode/
.idea/
.DS_Store
Thumbs.db
